<h1>@Model.Title</h1>


@if(Model.Body != null)
{
  <p>@Model.Body</p>
}
@if(Model.Link != null)
{
  <p>@Model.Link</p>
}
@if(Model.ImageSource != null)
{
  <img src="@Model.ImageSource" alt="Scribe Image"/>
}

@Html.ActionLink("Back to ScriBoard", "Details", "Boards", new {id = Model.BoardId}, new {@class="btn btn-info"})
@Html.ActionLink("Edit", "Edit", null, new {id = Model.PostId}, new {@class="btn btn-info"})
@Html.ActionLink("Delete this Post", "Delete", new {id = Model.PostId}, new {@class="btn btn-danger"})