@model MyScribe.Models.Post

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="text-center">Edit Scribe</h1>
    view bag = @ViewBag.BoardId
    @using (Html.BeginForm())
    {
      @* <input type="hidden" name="BoardId" value="@ViewBag.BoardId"> *@
      @Html.HiddenFor(model => model.PostId)
      @Html.HiddenFor(model => model.BoardId)
      <div class="form-group">
        <p>Post Title</p>
        @Html.TextBoxFor(model => model.Title, new {@class="form-control"})
      </div>
      <div class="form-group">
        <p>Text Body</p>
        <textarea rows = "5" cols = "60" name ="Body">
        </textarea>
      </div>
      <div class="form-group">
        <p>Picture</p>
        @Html.TextBoxFor(model => model.ImageSource, new {@class="form-control"})
      </div>
      <button type="submit" class="btn btn-info btn-block"> Edit a Post </button>
    }
  </div>
</div>
