<div style="background-color: @Model.Color">
<img src="@Model.BannerImage" alt="Banner" class="banner--img">

<h1>@Model.Name</h1>
<h2>@Model.Description</h2>
<hr>

@if(Model.Posts.Count == 0)
{
  <p>Theres currently no scribes in @Model.Name</p>
}
else
{ 
  <div class="row">
    @foreach(Post post in Model.Posts)
    {
      <div class="col-md-3">
        <div class="card">
          <h3>@Html.ActionLink($"{post.Title}", "Details", "Posts", new {id = post.PostId})</h3>
        </div>
      </div>
      <hr>
    }
  </div>
}
<div>

@* @Html.ActionLink("Add Scribe", "Create", "Posts", new {boardId = Model.BoardId}, new {@class="btn btn-success"}) *@
@Html.ActionLink("Add Scribe", "Create", "Posts", new {id = Model.BoardId}, new {@class="btn btn-success"})
@Html.ActionLink("Edit", "Edit", new {id = Model.BoardId}, new {@class="btn btn-info"})
@Html.ActionLink("Delete this Board", "Delete", new {id = Model.BoardId}, new {@class="btn btn-danger"})