<div style="background-color: @Model.Color">
  <div class="banner--box">
    <div class="banner--img-box">
      <img src="@Model.BannerImage" alt="Banner" class="banner--img">
    </div>
  </div>
  <h2>
    @Model.Name:
    <small class="text-muted">@Model.Description</small>
    <hr>
  </h2>


  @if(Model.Posts.Count == 0)
  {
    <p>Theres currently no scribes in @Model.Name</p>
  }
  else
  { 
    <div class="row">
      @foreach(Post post in ViewBag.Posts)
      {
        @if(post.ImageSource != null)
        {
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top img-fluid" src="@post.ImageSource" alt="Card image cap">
              <div class="card-block">
                <h3 class="card-title">@Html.ActionLink($"{post.Title}", "Details", "Posts", new {id = post.PostId})</h3>
                <p class="card-text"><span style="display:block;text-overflow: ellipsis;width: 230px;overflow: hidden; white-space: nowrap;">@post.Body</span></p>
              </div>
            </div>
          </div>
        <hr>
        }
        else
        {
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">@Html.ActionLink($"{post.Title}", "Details", "Posts", new {id = post.PostId})</h3>
                <p class="card-text">@post.Body</p>
              </div>
            </div>
          </div>
          <hr>
        } 
      }
      </div>
  }

  @* @Html.ActionLink("Add Scribe", "Create", "Posts", new {boardId = Model.BoardId}, new {@class="btn btn-success"}) *@
  @Html.ActionLink("Add Scribe", "Create", "Posts", new {id = Model.BoardId}, new {@class="btn btn-primary"})
  @Html.ActionLink("Edit", "Edit", new {id = Model.BoardId}, new {@class="btn btn-primary"})
  @Html.ActionLink("Delete this Board", "Delete", new {id = Model.BoardId}, new {@class="btn btn-primary"})

</div>



