
@using MyScribe.Models
@using System.Security.Claims
@model IEnumerable<MyScribe.Models.Board>
@* 
<h1 class="jumbotron">Boards</h1> *@
<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h1>Your ScriBoards</h1>
                @* <p>
                    Below you can create a new board and add posts to your board. 
                </p> *@
                <p>@Html.ActionLink("Add a new board", "Create", null, null, new {@class = "btn btn-outline-secondary"})</p>
                <p>
                    Ideas to get you started: School Resources | Workouts | Recipes | Journal Entries 
                </p>
            </div>
        </div>
    </div>
</div>

@if (@Model.Any())
{
  @foreach (Board board in Model)
  {
    <div class="row">
      <p>@Html.ActionLink($"{board.Name}", "Details", null, new { id = board.BoardId }, new {@class="btn btn-warning btn-lg"}) <span style="text-overflow: ellipsis;width: 200px;overflow: hidden; white-space: nowrap;">@board.Description</span></p>
    </div>
    @* <div class="row">
      <p>@Html.ActionLink($"{board.Name}", "Details", null, new { id = board.BoardId }, new {@class="btn btn-warning btn-lg"}) <span style="display:block;text-overflow: ellipsis;width: 200px;overflow: hidden; white-space: nowrap;">@board.Description</span></p>
    </div> *@
  }
} 
else
{
  <h3>You have no ScriBoards!</h3>
}
@* <hr>

@Html.ActionLink("Add a new board", "Create", null, null, new {@class = "btn btn-success"}) *@
<br>

@* @Html.ActionLink("Home", "Index", "Home", null, new {@class = "btn btn-info"}) *@